@model Aplzz.Models.User

@model Aplzz.ViewModels.AccountProfileViewModel

@{
    ViewData["Title"] = @Model.Username;
}

<div class="profileHeader">
    <div class="profilePicture">
        <img src="/images/99a459bb96829d1c01030a763d3146ed~c5_1080x1080.jpeg" alt="Profilbildet" style="width:150px;height:150px;border-radius: 50%;">
    </div>
    <div class="profileInfo" style="">
        <div class="names" style="margin-bottom:10px"><b>@Model.Firstname @Model.Aftername -- @Model.Username</b></div>
        <div class="settings" style="margin-bottom:10px"> <button class="aplzz_btn primaryButton">Rediger</button> </div>
        <div class="followInfo" style="margin-bottom:10px">
            <div class="counterDivProfiles">
                <p>0 <em>Følger</em></p>
            </div>
            <div class="counterDivProfiles">
                <p>0 <em>Følgere</em></p>
            </div>
            <div class="counterDivProfiles">
                <p>0 <em>Innlegg</em> </p>
            </div>
        </div>
        <div class="bio"> <b>Bio:</b> <p>Her skriver brukeren biografi</p> </div>
    </div>
</div>

<div class="profileBody">
    <h1>Her kommer innleggene til brukeren og kanskje flere andre kule funksjoner!</h1>
</div>




