@model Aplzz.Models.AccountProfile

@{
    ViewData["Title"] = "Bruker finnes ikke";
}

<h2>Brukeren finnes ikke</h2>

<p>Brukeren du etterspurte eksisterer ikke eller er flyttet til et annet sted!</p>