@model Aplzz.Models.User
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Edit Profile";
}
        <div class="modalContent">
            <div class="header">
                <div style="width:80%">
                    <span style="font-size: 20px;font-weight: bolder;">Endre profil</span>
                </div>
                <div style="width:20%"> Lukk </div>
            </div>
            <div class="body">
                <div class="contentBody">
                    <div style="width:50%">
                        <span>Profilbildet</span>
                    </div>
                    <div style="width:50%;align-self: center;display:flex;
                        align-items:center;justify-content: center;">
                        <img src="@Model.ProfilePicture" alt="" style="width:100px;height:100px">
                    </div>                    
                </div>
                  <div class="contentBody">
                    <div style="width:50%">
                        <span>Brukernavn</span>
                    </div>
                    <div style="width:50%;align-items: center;">
                        <input type="text" value="@Model.Username" disabled>
                    </div>                    
                </div>
                  <div class="contentBody">
                    <div style="width:50%">
                        <span>Fornavn og Etternavn</span>
                    </div>
                    <div style="width:50%">
                        <input type="text" value="@Model.Firstname" placeholder="Fornavn">
                        <p></p>
                        <input type="text" value="@Model.Aftername" placeholder="Etternavn">
                    </div>                    
                </div>            
            </div>
            <div class="footer">
                <button class="aplzz_btn primaryButton">Lagre</button>
            </div>
        </div>