@model User
@{
    ViewData["Title"] = "Registrer deg";
}

<h1>@ViewBag.Title</h1>
<div class="register">

    @if(TempData["ErrorEmail"] != null) {
        <div class="alert alert-danger">@TempData["ErrorEmail"]</div>
    }
    @if(TempData["ErrorUserName"] != null) {
        <div class="alert alert-danger">@TempData["ErrorUserName"]</div>
    }
    @if(TempData["SuccessMsg"] != null) {
        <div class="alert alert-success">@TempData["SuccessMsg"]</div>
    } 

    <form asp-action="Register">
        <div class="form-group_">
            <label asp-for="Firstname" class="control-label">Fornavn (*)</label>
            <input type="text" asp-for="Firstname" id="" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <label asp-for="Aftername" class="control-label">Etternavn (*)</label>
            <input type="text" asp-for="Aftername" class="form-control" id=""/>
            <span asp-validation-for="Aftername" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <label asp-for="Email" class="control-label">E-post (*)</label>
            <input type="text" asp-for="Email" class="form-control" id=""/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <label asp-for="Password" class="control-label">Password (*)</label>
            <input type="password" asp-for="Password" class="form-control" id=""/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <label asp-for="Username" class="control-label">Brukernavn (*)</label>
            <input type="text" asp-for="Username" class="form-control" id=""/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <label asp-for="ProfilePicture" class="control-label">Velg profilbildet</label>
            <input type="file" asp-for="ProfilePicture" class="form-control" id=""/>
            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <input type="submit" value="Finito" onclick="register()" class="btn btn-primary" />
        </div>
    </form>
</div>
