@{
    ViewData["Title"] = "Logg inn";
}
@model LoginModel


<div class="register">
    <div class="title_center header">@ViewBag.Title</div>
    @if(TempData["SuccessMsg"] != null) {
        <div class="alert alert-success">@TempData["SuccessMsg"]</div>
    } 
    @if(TempData["ErrorMessage"] != null) {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    } 
     <form asp-action="">
        <div class="form-group_">
            <input type="text" asp-for="Email" id="" class="form-control" placeholder="E-post"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <input type="password" asp-for="Password" class="form-control" id="" placeholder="Passord"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <input type="submit" value="Logg inn" class="aplzz_btn btn_login" /> 
            <p></p>eller <a asp-controller="Login" asp-action="Register">Registrer deg</a>
        </div>
    </form>
</div>