@model User
@{
    ViewData["Title"] = "Registrer deg";
}


<div class="register">

    @if(TempData["ErrorEmail"] != null) {
        <div class="alert alert-danger">@TempData["ErrorEmail"]</div>
    }
    @if(TempData["ErrorUserName"] != null) {
        <div class="alert alert-danger">@TempData["ErrorUserName"]</div>
    }
    @if(TempData["SuccessMsg"] != null) {
        <div class="alert alert-success">@TempData["SuccessMsg"]</div>
    } 
    <div class="title_center header">@ViewBag.Title hos Aplzz og start din sosiale verden!</div>
    <form asp-action="Register">
        <div class="form-group_">
            <input type="text" asp-for="Firstname" id="" class="form-control" placeholder="Fornavn"/>
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <input type="text" asp-for="Aftername" class="form-control" id="" placeholder="Etternavn"/>
            <span asp-validation-for="Aftername" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <input type="text" asp-for="Email" class="form-control" id="" placeholder="E-post"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <input type="password" asp-for="Password" class="form-control" id="" placeholder="Passord"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <input type="text" asp-for="Username" class="form-control" id="" placeholder="Brukernavn"/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group_">
            <div class="modalWebsite" id="modalContent">
                <div class="modalContent">
                    <label asp-for="ProfilePicture" class="control-label">Velg profilbildet</label>
                    <input type="file" asp-for="ProfilePicture" class="form-control" id=""/>
                    <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                </div>
            </div>
        </div> 
        <div class="form-group_">
            <input type="submit" value="Fullfør registrering" onclick="register()" class="aplzz_btn btn_register" />
            <p></p>Har du allerede registrert? <a asp-controller="Login" asp-action="Index">Logg inn</a>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        $("#btnImage").click(function(e) {
            e.PreventDefault();
            document.getElementById("modalContent").style.display = "block"
        })
    });
</script>